/* screen - u9319u21830u21697u35500u26126u30011u38754 */

.u9319u21830u21697u35500u26126u30011u38754 {
  align-items: flex-start;
  background-color: var(--bon-jour);
  display: flex;
  height: 262px;
  padding: 19px 15px;
  width: 211px;
}

.u9319u21830u21697u35500u26126u30011u38754 .overlap-group2 {
  height: 218px;
  margin-top: 6px;
  position: relative;
  width: 178px;
}

.u9319u21830u21697u35500u26126u30011u38754 .rectangle-2 {
  background-color: var(--alto);
  border: 1px solid;
  border-color: var(--black);
  box-shadow: 0px 4px 4px #00000040;
  height: 58px;
  margin-left: 7px;
  margin-top: 15px;
  width: 52px;
}

.u9319u21830u21697u35500u26126u30011u38754 .overlap-group {
  align-items: flex-start;
  background-color: var(--alto);
  border: 1px solid;
  border-color: var(--black);
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 58px;
  margin-left: 10px;
  margin-top: 15px;
  min-width: 52px;
  padding: 17px 16px;
}

.u9319u21830u21697u35500u26126u30011u38754 .text-6 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  white-space: nowrap;
}

.u9319u21830u21697u35500u26126u30011u38754 .rectangle-1 {
  height: 69px;
  margin-left: 247px;
  margin-top: -2586px;
  width: 62px;
}

.u9319u21830u21697u35500u26126u30011u38754 .frame-2 {
  gap: 194px;
}

.u9319u21830u21697u35500u26126u30011u38754 .overlap-group1 {
  align-self: center;
  height: 207px;
  margin-left: 7px;
  margin-top: 5.0px;
  position: relative;
  width: 167px;
}

.u9319u21830u21697u35500u26126u30011u38754 .rectangle-7 {
  background-color: var(--monte-carlo);
  height: 204px;
  left: 0;
  position: absolute;
  top: 0;
  width: 162px;
}

.u9319u21830u21697u35500u26126u30011u38754 .rectangle-5 {
  background-color: var(--sahara-sand);
  height: 26px;
  left: 0;
  position: absolute;
  top: 181px;
  width: 162px;
}

.u9319u21830u21697u35500u26126u30011u38754 .image-1 {
  height: 43px;
  left: 105px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 44px;
}

.u9319u21830u21697u35500u26126u30011u38754 .review-this-product {
  cursor: pointer;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 188px;
  white-space: nowrap;
}

.u9319u21830u21697u35500u26126u30011u38754 .gore-tex {
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 84px;
}

.u9319u21830u21697u35500u26126u30011u38754 .rectangle-1-1 {
  height: 69px;
  margin-top: -2586px;
  width: 62px;
}

.u9319u21830u21697u35500u26126u30011u38754 .the-north-face-apex-flex-gtx-jacket {
  color: var(--black);
  font-family: var(--font-family-rubik_moonrocks);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
}

.u9319u21830u21697u35500u26126u30011u38754 .frame {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 218px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 178px;
}
